<div class="page-content">
  <div class="mentor-header">
    <div class="mentor-avatar">
      <img src="{{model.image}}">
    </div>
    <div class="mentor-description">
      <h1>{{model.firstName}} {{model.lastName}}</h1>
      <p>{{model.description}}</p>
    </div>
  </div>

  <hr>

  <div class="mentor-details">
    <h4>{{model.firstName}} is currently...</h4>
    <div class="mentor-availability available">
      <h1>Available to Mentor</h1>
    </div>

    <div class="mentor-details-2">
      <h4>Expertise</h4>
      <ul>
        <li>Scratch</li>
        <li>(AP) Computer Science Principles)</li>
        <li>Code.org</li>
        <li>CS First</li>
        <li>Python</li>
        <li>HTML / CSS / Javascript</li>
      </ul>

      <h4>Grades</h4>
      <ul>
        <li>K-2</li>
        <li>3-5</li>
        <li>6-8</li>
      </ul>

      <h4>Chicago Area</h4>
      <ul>
        <li>North side</li>
        <li>South side</li>
      </ul>
    </div>

    <div class="mentor-details-2">
      <h4>Weekly Availability</h4>
      <ul>
        <li>
          <p class="day">Monday</p>
          <p class="time">Before noon</p>
        </li>
        <li>
          <p class="day">Wednesday</p>
          <p class="time">All day</p>
        </li>
        <li>
          <p class="day">Friday</p>
          <p class="time">Before noon</p>
        </li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="contact">
    <button value="Contact">Contact {{model.firstName}}</button>
  </div>

</div>
