<div class="mentor-feed-card">
  <div class="mentor-primary-info">
    <div class="mentor-avatar">
      <img src="http://placehold.it/100x100">
    </div>
    <div class="mentor-description">
      <h3>{{mentor.first_name}} {{mentor.last_name}}</h3>
			<p>{{mentor.prior_experience}}</p>
      <p>{{mentor.cs_expertise}}</p>
      <p><a href="#" {{action toggleProperty "moreInfo"}}>More Info</a></p>
      <!-- <div {{action toggleProperty "moreInfo"}} class="plus">
        <p>More info</p>
      </div> -->
    </div>
  </div>

  <div class="mentor-secondary-info">
    {{#liquid-if moreInfo}}
        <div class="mentor-info-categories">
          <p>GRADES</p>
          <ul>
            <li>K-2</li>
            <li>3-5</li>
            <li>6-8</li>
          </ul>
        </div>
        <div class="mentor-info-categories">
          <p>CHICAGO AREA</p>
        </div>
        <div class="mentor-info-categories">
          <p>WEEKLY AVAILABILITY</p>
        </div>
        <div class="view-profile">
          {{#link-to "mentor" mentor.id}}
              <input type="submit" value="View Profile">
          {{/link-to}}
        </div>
    {{/liquid-if}}
  </div>
</div>
